<h1>Edit a Car</h1>

<%= form_tag "/cars/#{@car.id}", method: :patch do %>
  <div>
    Year: <input type="text" name="year" value="<%= @car.year %>">
  </div>
  <div>
    Make: <input type="text" name="make" value="<%= @car.make %>">
  </div>
  <div>
    Model: <input type="text" name="model" value="<%= @car.model %>">
  </div>
  <div>
    Style: <input type="text" name="style" value="<%= @car.style %>">
  </div>
    <div>
    Engine: <input type="text" name="engine" value="<%= @car.engine %>">
  </div>
  <div>
    Drive-type: <input type="text" name="drive_type" value="<%= @car.drive_type %>">
  </div>
  <div>
    Transmission-type: <input type="text" name="transmission_type" value="<%= @car.transmission_type %>">
  </div>

  <input class="btn btn-success" type="submit" value="Update Product">
<% end %>