<h1><%= @car.year %> <%= @car.make %> <%= @car.model %></h1>
<h2><%= @car.style %></h2>

<% @car.bids.each do |bid| %>
  <h2>Price: <%= bid.price %> Vendor: <%= bid.vendor %></h2>
<% end %>

<%= link_to "Edit Car", "/cars/#{@car.id}/edit", class: "btn btn-warning" %>
<%= link_to "Delete Car", "/cars/#{@car.id}", method: :delete, class: "btn btn-danger" %> 


