
<div class="container cars-container">
<div class="car-info">
  <h1>
    <%= @car.title %>
    <% if current_user && @favorite_car %>
        <%= link_to "", "/favorite_cars/#{@favorite_car.id}", method: :delete, class: "fa fa-star gold-star" %> 
    <% elsif current_user && !@favorite_car %>
      <%= link_to "", "/favorite_cars/#{@car.id}", method: :post, class: "fa fa-star-o gold-star" %> 
    <% end %>
  </h1>
  <ul>
    <li><h3>Engine Type: <%= @car.engine %></h3></li>
    <li><h3>Dirvetrain: <%= @car.drive_type %></h3></li>
    <li><h3>Transmission: <%= @car.transmission_type %></h3></li>
    <li><h3>Style: <%= @car.style %></h3></li>
    <br>
  </ul>
</div>

<div class="car-info">
  <h1>Prices Found</h1>

    <% @car.bids.each do |bid| %>
      <ul>
        <li><h4>Price: <%= number_to_currency(bid.price) %>
        <br> Vendor: <%= bid.vendor %></h4></li>
      </ul>
    <% end %>
    <br>
    
  
</div>
    <div class="car-buttons">
      <% if current_user && current_user.admin %>
        <%= link_to "Edit Car", "/cars/#{@car.id}/edit", class: "btn btn-warning" %>
        <%= link_to "Delete Car", "/cars/#{@car.id}", method: :delete, class: "btn btn-danger" %> 
      <% end %>
    </div>
    <div class="car-buttons">
      <%= link_to "Dealers Near You!", "https://www.google.com/maps/search/#{@car.make} Dealers", class: "btn btn-success", target: "_blank" %>
    </div>
</div>




