<div class="container cars-container">
<h1><%= @car.title %></h1>
<ul>
  <li><h3>Engine Type: <%= @car.engine %></h3></li>
  <li><h3>Dirvetrain: <%= @car.drive_type %></h3></li>
  <li><h3>Transmission: <%= @car.transmission_type %></h3></li>
  <li><h3>Style: <%= @car.style %></h3></li>
  <br>
</ul>

<h1>Prices Found</h1>

  <% @car.bids.each do |bid| %>
    <ul>
      <li><h4>Price: <%= number_to_currency(bid.price) %> Vendor: <%= bid.vendor %></h4></li>
    </ul>
  <% end %>

  <%= link_to "Edit Car", "/cars/#{@car.id}/edit", class: "btn btn-warning" %>
  <%= link_to "Delete Car", "/cars/#{@car.id}", method: :delete, class: "btn btn-danger" %>  
  <% if current_user && !@is_car_favorited %>
    <%= form_tag '/favorite_cars', method: :post do %>
        <div>
            <input type="hidden" name="car_id" value="<%= @car.id %>">
          </div>
        <button type="submit" class="fa fa-star-o" id="favorite-button"></button>
    <% end %>
  <% elsif current_user && @is_car_favorited %>
      <%= link_to "", "/favorite_cars/#{@favorite_car_id}", method: :delete, class: "fa fa-star" %> 
  <% else %>
    Please <a href="/login"> Login</a>
  <% end %>
</div>
